
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-font {
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Miama';
    src: url('fonts/Miama.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

.miama-font {
    font-family: 'Miama', serif;
}
    



/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    max-height: fit-content;
}

.nav-items {
    list-style: none;

}
.menu{
    display: block;
   
}
.icon{
    display: none;
}

.nav-link-ul {
    background: rgb(115, 199, 233);
    ;
    height: 1.8rem;
    width: auto;
    border-radius: 15px;
    border-width: 0.525px;
    border-color: rgba(240, 248, 255, 0.432);
    border-style: solid;
    margin-right: 250px;
    /* text-align: center; */
    /* justify-content: center; */
    column-gap: 15px;

}

.nav-link-p {
    text-decoration: none;
    /* font-weight: 500; */
    background: none;
    font-weight: 500;
    padding: 6px 14px 6px 14px;
}

.home {
    background-color: rgb(53, 184, 184);
    border-radius: 15px;
}


.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.brand {
    margin-left: 60px;
    font-style: italic;
    color: rgb(6, 69, 111);
    font-size: 48px;
    font-family: 'Times New Roman';
    font-weight: 900;

}


/* General Styles */
.display_flex {
    display: flex;
}

.bg-light {
    background-color: rgb(124, 201, 232);
    /* background-blend-mode: hue; */

}


/* Text */
.text-gray {
    color: #000302;
}

/* Banner Styles */
.banner,
.navbar,
.habits,
.RunningSection,
.training {
    max-width: 1440px;
    margin: 0 60px;
}



.banner {
    display:flex;
    column-gap: 5rem;
    row-gap: 6rem;
}

.banner-content {
    max-width: 850px;
    margin: 25px 60px;
    /* text-align: center; */
    justify-content: left;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-image {
    width: 35rem;
    height: 42rem;
    margin-right: 6rem;
}

.banner-desc {
    margin-bottom: 30px;
}

.part2 {
    display: flex;
    /* column-gap: -100px; */

}

.second {
    background-color: rgb(107, 177, 212);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    background-color: rgba(102, 178, 216, 0.657);
    text-align: center;
    height: 4rem;
    width: 8rem;
    margin-left: -44rem;
    margin-top: 11rem;
    column-gap: 5px;

}

.circle {
    margin-top: 15px;
    background-color: #FF900E;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.second2 {
    background-color: rgb(107, 177, 212);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    background-color: rgba(102, 178, 216, 0.657);
    text-align: center;
    height: 4rem;
    width: 8rem;
    margin-left: -16rem;
    margin-top: 11rem;
}

/* .banner-image {
    background-size: contain;
    background-size: cover;
} */

/* Button Styles */
.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 35px;
    border: none;
    text-align: center;
}

/* Habit section */
.habits {
    margin-top: 150px;
}

.habits-title {
    text-align: center;
}

.habits-title h3 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: -10px;
}

.habit-desc {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 45px 20px;
}

.habit-img img {
    height: 14rem;
    width: 14rem;
    border-radius: 100%;
}

/* Run Section */
.run {
    display: flex;
    border: none;
    border-radius: 15px;
    background-color: rgba(201, 233, 233, 0.338);
    padding-left: 1.5rem;
    margin: 40px 40px;
}

.runDiv {
    text-align: left;
    row-gap: 10px;
    text-wrap: stable;
    margin-right: 16rem;
    width: 100%;
}

.run h3 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.run p {
    margin-bottom: 30px;
}


.run img {
    height: 40%;
    width: 40%;
    background-size: contain;
    background-size: cover;
    border-radius: 15px;
    margin: 10px 20px 15px 0px;

}

/* Exercise */
.training {
    margin-top: 100px;
}

.training h3 {
    font-size: 32px;
    font-weight: 900;
}

.training p {
    margin-bottom: 50px;
}

.exercise-img {
    /* max-width: 1440px;
    height: 620px; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    /* gap: 0px; */

}



.img1 {
    background-image: url("images/exercise1.jpg");
    height: 310px;
    width: 320px;
    background-color: rgba(127, 255, 212, 0.642);
    background-blend-mode: overlay;

}

.img-desc {
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    background-size: cover;

}

.img2 {
    background-image: url("images/exercise2.png");
    margin-left: -330px;
    height: 310px;
    width: 720px;
    background-color: rgba(186, 8, 76, 0.406);
    background-blend-mode: overlay;

}

.img3 {
    background-image: url("images/exercise3.png");
    height: 310px;
    width: 340px;
    background-color: rgba(45, 46, 45, 0.534);
    background-blend-mode: overlay;
}

.img4 {
    background-image: url("images/exercise4.png");
    height: 310px;
    width: 600px;
    /* background-color: rgba(254, 255, 255, 0.252);
    background-blend-mode: overlay; */

}

.img5 {
    background-image: url("images/exercise5.jpg");
    height: 310px;
    width: 350px;
    background-color: rgba(89, 201, 102, 0.642);
    background-blend-mode: overlay;

}

.img6 {
    background-image: url("images/exercise6.jpg");
    margin-left: -90px;
    height: 310px;
    width: 430px;
    background-color: rgba(66, 195, 197, 0.699);
    background-blend-mode: overlay;
}

/* Inspiration */
#inspiration {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 60px;
    margin-right: 60px;
    text-wrap: stable;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 15px;
    /* border-color: #0D1321;
    border: #0D1321; */
}

.ins_title h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 900;
    color: #75dbedfb;
    border-color: #0a1617;
    text-shadow: 2px 2px 4px #000000;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#gif{
    display: flex;
    justify-content: center; 
    gap: 10px;
    /* margin-top: 5px; */
    margin-bottom: 20px; 
}


.ins_title p {
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
    padding-left: 143px;
    padding-right: 145px;
    text-wrap: pretty;
}

.iframe {
    padding-left: 32px 32px;
    margin-left: 95px;
    margin-bottom: 20px;

    /* border-color: whitesmoke; */
    /* border-color: rgba(13, 19, 33, 0.2); */
    /* border-radius: 5%; */

}

.iframeBorder {
    /* padding: 32px 32px; */
    border-color: rgba(13, 19, 33, 0.2);
    border-radius: 15px;
    overflow: hidden;
}

.ins_title p {
    text-align: center;
    margin-bottom: 46px;
    padding-left: 140px;
    padding-right: 145px;
    text-wrap: pretty;
}


/* BMI */
.BMI {
    margin: 100px 60px
}

.bmi-header {
    margin-left: 200px;
}


.BMI h3 {
    justify-content: left;
    font-size: 36px;
    font-weight: 900;
}

.BMI p {
    justify-content: left;
    font-size: 12;
    font-weight: 600;
}

/* Table */


.tt {
    font-size: 24px;
    font-weight: 700;
}

.thead {
    font-size: 18px;
    font-weight: 700;
}

.bmi {
    background-color: rgba(135, 244, 244, 0.671);
}

.bmi-main {
    margin: 60px 60px;
    display: flex;
    padding: 40px 80px;
}

.bmi-cal-chart {
    /* margin-left: 60px; */
    padding: 40px 0px;
    width: 50%;
}

.table tr td {
    border: 1px solid;
    border-collapse: collapse;
}


.table td {
    padding: 10px 20px;
}

.table {
    border-collapse: collapse;
}


.bmi-cal {
    margin-left: 10px;
    padding: 40px 0px;
}

.bmi-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
    margin-bottom: 40px;
}


/* .bmi-input {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}*/

.bmi input {
    background-color: rgba(77, 134, 184, 0.744);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    border: none;

}


.bmi-input input:last-child {
    grid-column: span 2;
}

.bmi-input input::placeholder {
    color: white;
    opacity: 1;
}

.join{
    display: none;
   
}
.joinClub{
    display: block;
}

.teamIntro{
    align-items: center;
    text-align: center;
}

.teamIntro h3{
   font-size: 32px;
   font-weight: 700;
}

.teamP{
    border: none;
    height: auto;
    border-radius: 15px;
    background-color: rgba(201, 233, 233, 0.338);
    padding:10px ;
    margin: 40px 40px;
}

.teamImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 15px;
}
.tImg h4{
   margin-top: 265px;
   margin-left: 20px;
   width: 400px;
   color: #ffffff;
   font-weight: 600;
}
.tImg p{
    margin-left: 20px;
    width: 400px;
    color: #ffffff9f;
    font-weight: 400;
 }

.tImg {
    height: 350px;
    width: 100%;
    border-radius: 15px;
    background-size:cover;
    background-position: center;
}
.footer{
    margin-top: 30px;
    background-color: #1e6f78;
    height: 100%
}

.footerM{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-bottom: 50px;
  
  
}
.footerM h1{
    font-size:3.5rem; 
   
    font-weight: bolder;
    font-style: italic;
    color: #78d1db;
}

.dividerLine{
    width: 60%; 
    height: 1px;   
    background-color: rgba(240, 242, 244, 0.718);
    margin: 20px 0px;
    margin-left: 250px;
}

.tag{
    text-align: center;
    padding-bottom: 20px;
}


@media screen and (max-width: 576px) {
    /* Navbar Adjustments */


    .join{
        display: block;
       
    }
    .joinClub{
        display: none;
    }   

    .menu{
        display: none;
       
    }
    .icon{
        display: block;
        height: 40px;
    }
.banner,
.navbar,
.habits,
.RunningSection,
.training{
    margin: 0px 5px;
}

    .brand {
        margin-left: 0;
        font-size: 32px;
    }

    /* Banner Adjustments */
    .banner {     
        flex-direction: column;
        align-items: flex-start;
        padding: 5px ;
    }

    .banner-content {
        max-width: 100%;
        margin: 0;
        text-align:left;
    }
    .banner-title {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .part2 {
        max-width:80%;
        height: auto;
        margin-top: 5px;
    }
    .second2 {
        margin-left: -17.5rem;
        margin-top: 4rem;
    }

    .second{
        margin-left: -30rem;
        margin-top: 11rem;
        width: 9.5rem
    }
    
    .habits-title h3 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: -10px;
    }
    

    .habit-desc{
        flex-direction: column;     
    }

    .habit-img{
        margin-bottom: 15px;
    }
    .habit-img img {
        height: 13rem;
        width: 13rem;
        border-radius: 100%;
    }

    .run {
        flex-direction: column; 
    }

    .runDiv {
        text-align: left;
        row-gap: 10px;
        text-wrap: stable;
        margin-right: 16rem;
        width: 100%;
    }

    .runDiv button{
        margin-left: 20px;
    }
    
    .run h3 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .run p {
        margin-bottom: 30px;
    }
    
    
    .run img {
        height: auto;
        width: 100%;
        background-size: contain;
        background-size: cover;
        border-radius: 15px;
        margin: 25px 25px 25px -12px;
    }

    .exercise-img {
        /* max-width: 1440px;
        height: 620px; */
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10px;
        width: 100%;
        /* gap: 0px; */
    
    }

    .training-desc{
        text-align: left;
        padding-left: 10px;
    }
    #inspiration {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* margin-left: 15px;
        margin-right: 15px; */
        /* text-wrap: stable; */
        margin-bottom: 100px;
        margin-top: 100px;
        /* border-color: #0D1321;
        border: #0D1321; */
    } 
    
    .ins_title p {
        text-align: center;
        margin-bottom: 46px;
        padding-left: 10px;
        padding-right: 10px;
        /* text-wrap: pretty; */
    }
    .iframeBorder{
        margin-left: -75px; 
        width:130%;
        height:100%
    }
    
    .img1 {
        background-image: url("images/exercise1.jpg");
        height: 128px;
        width: 175px;
        background-color: rgba(127, 255, 212, 0.642);
        background-blend-mode: overlay;
    }
    
    .img-desc {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size: cover;
    
    }
    
    .img2 {
       display: none; 
    }
    
    .img3 {
        background-image: url("images/exercise3.png");
        height: 128px;
        width: 195px;
        background-color: rgba(45, 46, 45, 0.534);
        background-blend-mode: overlay;
        margin-left: -35px;
    }
    .img4 {
        background-image: url("images/exercise4.png");
        margin-left: -90px;
        height: 127px;
        width: 157px; 
        background-color: rgba(66, 195, 197, 0.699);
        background-blend-mode: overlay;
        margin-left: 0px;
    }
    .img5 {
        background-image: url("images/exercise5.jpg");
        height: 127px;
        width: 205px;
        background-color: rgba(89, 201, 102, 0.642);
        background-blend-mode: overlay;
        margin-left: -45px;
    }
    .img6 {
        display: none;
     }

 
     .BMI {
        margin-left: -150px;
     }     


     /* Table */

.tt {
    font-size: 24px;
    font-weight: 700;
}

.thead {
    font-size: 18px;
    font-weight: 700;
}

.bmi {
    background-color: rgba(135, 244, 244, 0.671);
    /* width: 100%; */
}

.bmi-main {
    /* margin: 60px 60px; */
    flex-direction: column;
    width: 100%;
   
}

.bmi-cal-chart {
    width:80%;
    margin-left: -100px;
    margin-top: -50px;
}

.table tr td {
    width:200px ;
    border: 1px solid;
    border-collapse: collapse;
}


.table td {
    padding: 10px 20px;
}

.table {
    border-collapse: collapse;
}


.bmi-cal {
    margin-left: -120px;   
}

.bmi-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 10px;
    margin-bottom: 40px;
}

.bmi input {
    background-color: rgba(77, 134, 184, 0.744);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    border: none;

}


.bmi-input input:last-child {
    grid-column: span 2;
}

.bmi-input input::placeholder {
    color: white;
    opacity: 1;
}
 
.teamImg {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 20px;
    padding: 15px; */
}
   

.tImg {
    height: 350px;
    width: 67%;
    border-radius: 15px;
    background-size:cover;
    background-position: center;
}


.footerM{
   flex-direction: column;
   margin: 40px;
   align-items: baseline;
 }
 .footer{
    margin-top: 30px;
    
 }
 .dividerLine{
    width: 60%; 
    height: 1px;   
    background-color: rgba(240, 242, 244, 0.718);
    margin: 20px 0px;
    margin-left: 70px;
}
  
}    